<ion-view view-title="">
	<ion-content scroll="false">
	  	<div class='accueil'>
	  		<div class="text-center">
	    		<img src="img/logo.png" alt="photo" class="logo">
	    		<div class="login">
	 				<div class="list">
	 					<button>S'IDENTIFIER</button>
	 					<button>S'INSCRIRE</button>
						  <label class="item item-input">
						    <span class="input-label">Adresse Mail</span>
						    <input type="text">
						  </label>
						  <label class="item item-input">
						    <span class="input-label">Mot de Passe</span>
						    <input type="password">
						  </label>
						  <button class="button">Valider</button>
					</div>
	    		</div>
			</div>
	 	</div>
	</ion-content>
</ion-view>
