<ion-view view-title="">
	  <ion-content scroll="false">
	  	<div class='jpcoloc4'>
	  		<div class="text-center">
	    		<div class="monprofil3">
                   <h2>Je propose une coloc</h2>
                        <h4>ETAPE 4</h4>
						    <div class="list3">
                                <div class="carre">
                                	<p>Importer votre Photo</p>
                                </div>
                                <div class="carre">
                                	<p>Importer votre Photo</p>
                                </div>
                                <div class="carre">
                                	<p>Importer votre Photo</p>
                                </div>
						</div>
			    </div>
            </div>
            <div class="container">
				<div class="row">
				    <div class="col">
				        <a ui-sref="app.jpcoloc3"><button class="suivant">Précédent</button></a>
				    </div>
					<div class="col">
					    <a ui-sref="app.jpcoloc5"><button class="bt-right suivant">Suivant</button></a>
					</div>
				</div>
		    </div>
	    </div>
	</ion-content>
</ion-view>