<ion-view view-title="">
	 <ion-content scroll="false">
	  	<div class='jpcoloc5'>
	  		<div class="text-center">
	    		<div class="monprofil4">
                   	<h2>Je propose une coloc</h2>
                   	<h4>ETAPE 5</h4>
					<div class="list3">
						<h3>Description de votre logement</h3>
                    	<div class="carre4">
                   	   		<label class="item item-input">
						   		<input type="text" placeholder="ex : Petit appart cosy proche de la gare ( 5 min a pied) ..">
							</label>
                    	</div>
					</div>
			    </div>
            </div>
            <div class="container">
				<div class="row">
				    <div class="col">
				        <a ui-sref="app.jpcoloc4"><button class="suivant">Précédent</button>
				    	</a>
				    </div>
					<div class="col">
					    <a ui-sref="app.jpcolocfinal"><button class="bt-right suivant">Valiver</button></a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>