<ion-view view-title="">
	 <ion-content>
	  	<div class='jpcoloc'>
	  		<div class="text">
	    		<div class="monprofil3">
                   <h2>Je propose une coloc</h2>
                        <h4>ETAPE 3</h4>
						    <div class="list3">
							  	<h3>J'ai</h3>
                                  <ion-checkbox ng-model="filter.four">Un four</ion-checkbox>
                                  <ion-checkbox ng-model="filter.congelo">Un congélo</ion-checkbox>
                                  <ion-checkbox ng-model="filter.machine">Une machine à lavé</ion-checkbox>
                                  <ion-checkbox ng-model="filter.vaisselle">Un lave vaisselle</ion-checkbox>
                                  <ion-checkbox ng-model="filter.linge">Un séche linge </ion-checkbox>
                                  <ion-checkbox ng-model="filter.tele">Une télé</ion-checkbox>
                                  <ion-checkbox ng-model="filter.frigo">Un frigo</ion-checkbox>
                                  <ion-checkbox ng-model="filter.wifi">La wifi! </ion-checkbox>
                                  
								  </div>
							       
								   
	    					</div>

                    </div>
                    <div class="container">
				    <div class="row">
				         <div class="col">
				             <a ui-sref="app.jpcoloc2"><button class="suivant">Précédent</button></a>
				         </div>
					     <div class="col">
					         <a ui-sref="app.jpcoloc4"><button class="bt-right suivant">Suivant</button></a>
					     </div>
				    </div>
				</div>
	    		</div>
	    		
			</div>
	 	</div>
	</ion-content>
</ion-view>