<ion-view view-title="">
	<ion-content scroll="false">
	  	<div class='jpcoloc'>
	  		<div class="text-center">
	    		<div class="monprofil2">
                   <h2>Je propose une coloc</h2>
                        <h4>ETAPE 1</h4>
						    <div class="list2">
							  	<h3>Votre Adresse</h3>
								  <label class="item item-input">
								    <input type="text" placeholder="ex: 11 rue de lila">
								  </label>
                                  <div class="row add">
                                     <div class="col"><h3>Code Postal</h3><label class="item item-input"><input type="text" placeholder="ex: 78160">
										</label>
									 </div>
									 <div class="col"><h3>Votre Adresse</h3><label class="item item-input">
								     <input type="text" placeholder="ex: Marly">
									 </label>
									 </div>
							       </div>
							       <h3>Pays</h3>
								   <label class="item item-input">
								    <input type="text" placeholder="ex: France">
								   </label>
								   <p>Votre adresse exacte ne sera dévoilée aux colocataires qu’une fois la coloc confirmée.</p>
								   <img src="img/map.png" alt="photo" class="map">
	    					</div>

                    </div>
	    		</div>
	    		<div class="container">
    <div class="row">
      <div class="col">
        <button class="suivant">Précédent</button>
      </div>
    <div class="col">
      <button class="bt-right suivant">Suivant</button>
    </div>
    </div>
  </div>
			</div>
	 	</div>
	</ion-content>
</ion-view>