<ion-view view-title="">
	<ion-content scroll="false">
	  	<div class='monprofil'>
	  		<div class="text-center">
	    		<div class="logementfinal">
	    			<h2>VOTRE LOGEMENT PROPOSE</h2>
	    			<div class="propo">
	    			<img src="img/photoprofil.png" alt="photo" class="photoprofil">
	    			</div>
	    			<div class="carre5">
                   	   	<label class="item item-input">
					   		<p>Mon ptit appart est plutot tranquillou à coté du parc de Saint</p>
						</label>
                    </div>
                    <img src="img/photoapp.jpg" alt="photoapp" class="photoapp">
                   	<img src="img/photoapp.jpg" alt="photoapp" class="photoapp">
	    		</div>
			</div>
	 	</div>
	</ion-content>
</ion-view>