<ion-view view-title="QUESTIONNAIRE">
  <ion-content>
    <div class="questionnaire">

      <ion-list>
        <h2>Après manger :</h2>
        <ion-checkbox ng-model="filter.yellow">On clean son repas dès que l’on a finit.</ion-checkbox>
        <ion-checkbox ng-model="filter.pink">On peut le laisser dans l’évier, mais faut pas abuser.</ion-checkbox>
        <ion-checkbox ng-model="filter.black">Quand ca sent vraiment mauvais, on pense à laver. </ion-checkbox>
      </ion-list>

      <ion-list>
        <h2>Le ménage :</h2>
        <ion-checkbox ng-model="filter.lala">Je m’en fiche, de temps en temps quoi.</ion-checkbox>
        <ion-checkbox ng-model="filter.sisi">Une fois par semaine.</ion-checkbox>
        <ion-checkbox ng-model="filter.baba">Je souhaite que l’appartement soit quotidiennement clean.</ion-checkbox>
        <ion-checkbox ng-model="filter.babi">Chacun fais sa pièce et on partage les pièces communes .</ion-checkbox>
        <ion-checkbox ng-model="filter.babo">Une fois sur deux.</ion-checkbox>
         <ion-checkbox ng-model="filter.bobo">On prend une femme de ménage.</ion-checkbox>

      <div class="container">
        <div class="row">
          <div class="col">
            <a ui-sref="app.questionnaire3"><button class="bt-right suivant">Précédent</button>
            </a>
          </div>
          <div class="col">
            <a ui-sref="app.questionnaire5"><button class="bt-right suivant">Suivant</button>
            </a>
          </div>
        </div>
      </div>
    	
    </div>
  </ion-content>
</ion-view>
