/* Empty. Add your own CSS if you like */



/* PAGE ACCUEIL */
.accueil{
	height: 100%;
	background: url(../img/fondapp2.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;

}
.logo{width: 30%;}

.login{ margin-top: 50%;} 

.login button{margin-top: 20%;}

/* MENU */

.logo2{    
    width: 73%;
    height: 123%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
}

.bar-stable.bar.bar-header{    
	border-color: white;
	background-color: white;
}

/* FIN */


.list{
    padding-top: 30px;}




/* BOUTON VALIDER */
.button{
    background-color: #FDE4D9;
    border-radius: 18px;
    width: 66%;
    color: #F8966C;

    border-width: 2px;
}



.button.activated{background-color: white;
    border-color: white;}

/* FIN */

/* CHAMPS DE SAISIE */

.item.item-input{
    border-color: white;
	background-color: transparent;
	border-radius: 18px;
    width: 66%;
    color: white;
    margin-top: 20px;
    border-width: 2px;
    margin-right: auto;
    margin-left: auto;
}
/* CHAMPS DE SAISIE COULEUR TEXTE*/

.input-label{color: white;}

/* FIN */



/* PAGE MON PROFIL */

.monprofil{
    height: 700px;
	background: url(../img/profil.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}
.monprofil2 button{margin-top: 13%;}

.photoprofil{
    width: 44%;
} 

.monprofil2 label.item.item-checkbox.ng-empty.ng-valid{padding-left: 0px;}
.monprofil2 label.item.item-checkbox.ng-valid.ng-not-empty{padding-left: 0px;}
/* FIN */


/* PAGE QUESTIONNAIRE */

.questionnaire{
	height: 700px;
	background: url(../img/question.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}

.questionnaire h2{ 
    font-size: 16px;
    text-align: center;
}

.suivant{
    background-color: #FDE4D9;
    border-radius: 18px;
    width: 66%;
    color: WHITE;
    margin-top: 20px;
    border-width: 0px;
    padding: 5%;
}

.bt-right {
    float: right;
}


/* FIN */

/* PAGE QUESTIONNAIRE */
.choix{margin-top: 30%;}
/* FIN PAGE QUESTIONNAIRE */

/* PAGE JPCOLOC */
.jpcoloc{
    height: 700px;
    background: url(../img/question.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}
.jpcoloc h2{
    font-size: 19px;
    color: #fc835b;
    text-transform: uppercase;
}
.jpcoloc h3{
    font-size: 16px;
    margin-right: 50%;
    color: white;
    margin-top: 0px;
}
.jpcoloc h4{
    text-align: left;
    margin-top: 16%;
    color: white;
    margin-left: 12px;
}

.list2 label.item.item-input {
    border-color: transparent;
    background-color: transparent;
    border-radius: 24px;
    width: 77%;
    color: white;
    margin-top: 20px;
    border-width: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(253, 228, 217, 0.61);
    margin-top: 0px;

}
.list2{margin-top: 13%;}
p{
    text-align: initial;
    font-size: 10px;
    margin-left: 13%;
    margin-right: 11%;
    line-height: initial;
    color: white;
}

.add{ 
    padding-left: 17px;
    padding-right: 19px;
}    
.add h3{ 
    font-size: 14px; 
    margin-right: 38px
} 

.map{    
    width: 80%;
}
/* FIN PAGE JPCOLOC */

/* PAGE CHOIX */
.choix button{margin-top: 13%;}
/* FIN PAGE CHOIX */

/* CHECKBOX QUESTIONNAIRE */
.item.item-checkbox.ng-empty.ng-valid{
	border-color: transparent;
    background-color: transparent;
}
.item.item-checkbox.ng-valid.ng-not-empty{
	border-color: transparent;
    background-color: transparent;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{    
    background: #F78351;
    border-color: white;
}

.item.item-complex{border-color: white;}
/* FIN */